<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1><%=Name%></h1>
  <div class="main">
    <div id="add-event">
      <form id="event-info" action="/" method="post">
          <h1>Add Event</h1>
              <div class="club">
                <input style="color: black;" id="textinput"type="text" name = "ClubName"required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Club<span style="color: red;">*</span></label>
              </div>
              <div class="topic">
                <input style="color: black;" id="textinput"type="text"name = "event" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Topic<span style="color: red;">*</span></label>
              </div>
              <div class="datetime">
                <input style="color: black;"id="textinput" type="datetime-local"name="Date" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label></label>
              </div>
              <div class="submit">
                  <input style="background-color: #ff5b00;";" type="submit" id="submit-button" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
              </div>
      </form>


  </div >

   <div class="container">
    <%for(var i = 0; i < Event.length; i++){%>
        <ul id="upcomingEvents">
            <li id="eventHolder">
                <div class="event-date-holder">
                  <span id="dateDay"><%=Event[i].date%></span>
                </div>
                <div class="event-details-holder">
                  <h1><%=Event[i].event%></h1>
                  <span id="eventDescription"><%=Event[i].name%></span>
                </div>
               <form class="container"id="eventHolder" id="eventHolder"action= "/delete" method = "post">
                  <input type="checkbox" name="checkbox" value="<%=Event[i]._id%>" onChange="this.form.submit()"/>
                </form>
            </li>
        </ul>
      <%}%>

</div>
  </div>
</body>
</html>
