<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>

<%for(var i = 0; i < Event.length; i++){%>
    <ul>
      <li>
        <%= Event[i].name %>
      </li>
      <li>
        <%= Event[i].event %>
      </li>
      <li>
        <%= Event[i].date %>
      </li>
    </ul>

    <%  for(var i = 0; i < Event.length; i++){ %>
        <ul id="upcomingEvents">
            <li id="eventHolder">
                <div class="event-date-holder">
                  <span id="dateNumber">23</span>
                  <span id="dateDay">Jan</span>
                </div>
                <div class="event-details-holder">
                  <h1><%=Event[i].event%></h1>
                  <span id="eventDescription"><%=Event[i].name%></span>
                    <ul id="editTools">
                      <li><i class="fa fa-trash" id="removeEvent"></i></li>
                    </ul>
                </div>
            </li>
        </ul>
      <%}%>
<%}%>

<!-- <div class="container">
  <%for(var i = 0; i < Event.length; i++){%>
      <ul id="upcomingEvents">
          <li id="eventHolder">
              <div class="event-date-holder">
                <span id="dateNumber">23</span>
                <span id="dateDay"><%=Event[i].date%></span>
              </div>
              <div class="event-details-holder">
                <h1><%=Event[i].event%></h1>
                <span id="eventDescription"><%=Event[i].name%></span>

              </div>
              <input type="checkbox" name="checkbox" value="" onChange="this.form.submit()"/>
          </li>
      </ul>
    <%}%> -->


</body>
